body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.input__search{
  padding:20px;
  margin:20px;
  border:1px solid #00ffff;

}
.render__imgs{
  display:grid;
  grid-template-columns: 1fr 1fr 3px;
}
img{
  border:1px solid #00ffff;
}
.card{
  border:1px solid #00ffff;
}
.card__img{
  margin:15px;
  padding:10px;
}
